#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* horizontal padding */
  padding: 0 2em;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
}

.homepage {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1em;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* align items to the top of the container */
  align-items: flex-start;
}

.posts {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  overflow-y: auto;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.post-body {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #e0e0e0;
  /* round edges */
  border-radius: 4px;
  padding: 1em;
  height: 100%;
  /* align to top of the main container */
}

.post-button {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0;
}

.input {
  /* margin-left: 0.5em; */
  height: 2em;
  margin-right: 0.5em;
  /* margin: 0.5em; */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  /* width: 100%; */
}

.answer-input {
  /* margin-left: 0.5em; */
  height: 2em;
  margin-right: 0.5em;
  /* margin: 0.5em; */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  width: 100%;
  height: 60px;
  margin-bottom: 1em;
}

.button {
  flex: 1;
  margin-bottom: 1em;
  /* orange color */
  background-color: #ff9620;
}

.post-preview {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #e0e0e0;
  border-radius: 0px;
}

.title {
  font-size: 2em;
  margin-bottom: 1em;
}
